<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".NativeSampleApplication"
        android:label="Autograph Sample"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- The non-Compose native screen-capture demo, launched directly by the instrumented smoke. -->
        <activity
            android:name=".NativeScreensActivity"
            android:exported="true" />
    </application>
</manifest>
